<div class="container_form">
  <div class="container_input">
    <%= simple_form_for [@portfolio, @position] do |f| %>
      <%= f.input :entry_date, as: :date %>
      <%= f.input :quantity, as: :float %>
      <%= f.input :exchange, as: :string %>
      <%= f.input :coin, collection: @coins %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
