<% @title = "New position" %>

<div class="container_form">
  <div class="container_input">
    <%= simple_form_for [@portfolio, @position] do |f| %>
      <%= f.input :entry_date, as: :date %>
      <%= f.input :quantity, as: :float, placeholder: 'use less to sell'%>
      <%= f.input :price_entry, as: :float %>
      <%= f.input :exchange, as: :string %>
       <%= f.input :coin, placeholder: "Enter the short name of the coin. Ex: eth" ,as: :search, data:
        {autocomplete_source: Coin.pluck(:title)} %>
      <%= f.input :card, :as => :hidden, :input_html => { :value =>  params[:card] } %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
