
<div class="container2">
  <% if @portfolios %>
  <% @portfolios.each do |portfolio| %>
    <a href="portfolios/<%= portfolio.id %>" class="link-wallet">
      <div class="item">
        <i class="fas fa-wallet" id="wallet"></i>
      <ul>
        <li><strong><%= portfolio.title %></strong></li>
        <% total_quantity = 0 %>
        <% total = 0 %>
        <% portfolio.positions.each do |position|%>
          <% @coins.each do |coin| %>
          <% if coin.quantity != nil %>
            <% if coin.quantity < 0 %>
              <% coin.quantity = 0 %>
            <% end %>
          <% end %>
            <% if coin.id == position.coin_id %>
              <% total_quantity = position.quantity %>
              <% if total_quantity != nil %>
                <% total += total_quantity * coin.price %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <li class="balance">
          <% if @hide %>
          <% if @hide.hide == false %>
            <%= total.round(2) %>$
          <% else %>
            *********
          <% end %>
          <% else %>
            <%= total.round(2) %>$
          <% end %>
        </li>
     </ul>
     <div class="line"></div>
        <%= link_to new_portfolio_position_path(portfolio, card: 0, api: 0), action: 'go' do %>
        <i class="fas fa-plus"></i>
        <% end %>
        <%= link_to edit_portfolio_path(portfolio), action: 'go' do %>
        <i class="far fa-edit"></i>
       <% end %>
       <%= link_to portfolio_path(portfolio), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
     </div>
   </a>
  <% end %>
<% end %>
  <% if @apis%>
    <% @apis.each do |api| %>
      <% if api != nil %>
        <a href="/api/<%= api.id %>" class="api" data-exchange="<%= api.exchange %>" data-key="<%= api.key %>" data-secret_key="<%= api.secret_key %>">
          <div class="item">
          <i class="fas fa-wallet" id="wallet"></i>
          <ul>
              <li><strong class="portfolio-title"></strong></li>
              <li class="total-wallet">*******</li>
          </ul>
          <div class="line"></div>
          <%= link_to new_api_positions_api_path(api, card: 0, api: 0, index: 1), action: 'go' do %>
            <i class="fas fa-plus fa_more"></i>
          <% end %>
          <%= link_to edit_api_path(api), api: 0, action: 'go' do %>
            <i class="far fa-edit fa_edit"></i>
          <% end %>
          <%= link_to api_path(api, api: 0), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="far fa-trash-alt fa_trash"></i>
          <% end %>
          </div>
        </a>
      <% end %>
    <% end %>
  <% end %>
 <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add a new portfolio
  </button>

<!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New portfolio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_for(@portfolio) do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title %>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
