
<div class="container2">
  <% if @portfolios %>
  <% @portfolios.each do |portfolio| %>
    <a href="portfolios/<%= portfolio.id %>" class="link-wallet">
      <div class="item">
        <i class="fas fa-wallet" id="wallet"></i>
      <ul>
        <li><strong><%= portfolio.title %></strong></li>
        <% total_quantity = 0 %>
        <% total = 0 %>
        <% portfolio.positions.each do |position|%>
          <% @coins.each do |coin| %>
            <% if coin.id == position.coin_id %>
              <% total_quantity = position.quantity %>
              <% if total_quantity != nil %>
                <% total += total_quantity * coin.price %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <li><%= total.round(2) %>$</li>
     </ul>
     <div class="line"></div>
       <%= link_to edit_portfolio_path(portfolio), action: 'go' do %>
        <i class="far fa-edit"></i>
       <% end %>
       <%= link_to(portfolio_path(portfolio), method: :delete, data: { confirm: "Are you sure?" }) do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
     </div>
   </a>
  <% end %>
<% end %>

<% if @portfolios %>
  <% if (@portfolios.first) && @api%>
    <a href="/portfolios/<%= @portfolios.first.id %>/api/<%= @api.id %>" class="api" data-exchange="<%= @api.exchange %>" data-key="<%= @api.key %>" data-secret_key="<%= @api.secret_key %>"></a>
  <% end %>
<% end %>
 <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add a new portfolio
  </button>

<!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New portfolio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_for(@portfolio) do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title %>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
