<figure class="highcharts-figure">
    <div id="container" data-positions="<%= @positions.to_json %>" data-coins= "<%= @coins.to_json %>">
    </div>
</figure>

  <div class="main-portfolio">
    <h1 class="total-value">
      <% if @total_value >= 1000000 %>
                <% million  = @total_value.to_i %>
                <% million = million.to_s.reverse.gsub(/\A....../, 'M').reverse %>
                <%= "$#{million}" %>
      <% elsif @total_value >= 100000 %>
          <%= "$#{@total_value.round(0)}" %>$
      <% elsif @total_value < 100000 && @total_value > 0%>
        <%= "$#{@total_value.round(2)}" %>
      <% else %>
        0$
      <% end %>
    </h1>
    <div>
      <%= link_to '+', new_portfolio_position_path(@portfolio, card: 0), class: 'small-darkblue'%>
      <% if @moyenne_change <= 0 %>
        <div class="recap"><p class="loss"><%= @moyenne_change.round(2) %>%</p><p class="period">24H</p></div>
      <% else %>
        <div class="recap"><p class="gain"><%= @moyenne_change.round(2) %>%</p><p class="period">24H</p></div>
      <% end %>
    </div>
  </div>
  <% i = 0 %>
    <div class="container2">
        <% @coins.each do |coin| %>
        <% i += 1 %>
        <% if coin.quantity > 0 %>
        <%= link_to coin_index_path(coin.title), action: 'go' do %>
        <div class="item">
          <div class="logo-text">
            <%= image_tag(coin.avatar) %>
            <h1 class="name-coin"><%= coin.title %></h1>
            <h1 class="value"><%= coin.price.round(2) %>$</h1>
          </div>
          <% if coin.change.round(2) > 0 %>
            <div class="small-green"><%= coin.change.round(2) %>%</div>
          <% else %>
            <div class="small-red"><%= coin.change.round(2) %>%</div>
          <% end %>
            <div class="position">
              <% if coin.quantity >= 10000000 %>
                <% million  = coin.quantity.to_i %>
                <% million = million.to_s.reverse.gsub(/\A....../, 'M').reverse %>
                <div><%= million %></div>
              <% elsif coin.quantity > 10 %>
                <div><%= coin.quantity.round(3) %></div>
              <% elsif coin.quantity > 0 && coin.quantity <= 10%>
                <div><%= coin.quantity.round(5) %></div>
              <% else %>
                <div>0</div>
              <% end %>
              <% if (coin.quantity * coin.price) > 100000 && (coin.quantity * coin.price) < 1000000 %>
                <div><%= (coin.quantity * coin.price).to_i%>$</div>
              <% elsif (coin.quantity * coin.price) >= 1000000 %>
                <% million  = (coin.quantity * coin.price).to_i %>
                <% million = million.to_s.reverse.gsub(/\A....../, 'M').reverse %>
                <div><%= million %>$</div>
              <% else %>
                <div><%= (coin.quantity * coin.price).round(2)%>$</div>
              <% end %>
          </div>
        </div>
         <% end %>
      <% end %>
    <% end %>
</div>
