<div id="header2" id="header">
  <h1>MyCryptoWallet</h1>
</div>
<% if user_signed_in? %>
  <div class="main-portfolio">
    <a href="#"><h1 class="total-value"><%= @total %>$</h1></a>
    <div>
      <%= link_to '+', portfolios_path, class: 'small-darkblue'%>
      <div class="recap"><p class="gain">10%</p><p class="period">24H</p></div>
    </div>
  <% end %>
  </div>
<div class="container2">
  <% @coins.each do |coin| %>
      <a href="#">
      <div class="item">
        <div class="text-logo">
          <%= image_tag(coin.avatar) %>
          <h1 class="title-coin"><%= coin.title %></h1>
        </div>
        <div class="percent">-10%</div>
        <h1 class="coin-price"><%= coin.price %>$</h1>
      </div>
    </a>
  <% end %>
</div>
