<% if user_signed_in? %>
  <div class="main-portfolio">
    <a href="#"><h1 class="total-value"><%= @total.round(2) %>$</h1></a>
    <div>
      <%= link_to '+', portfolios_path, class: 'small-darkblue'%>
      <div class="recap"><p class="gain">-10%</p><p class="period">24H</p></div>
    </div>
  </div>
<% end %>
<div class="container2">
  <% @coins.each do |coin| %>
      <a href="#">
      <div class="item">
        <div class="text-logo">
          <%= image_tag(coin.avatar) %>
          <h1 class="title-coin"><%= coin.title %></h1>
        </div>
        <div class="percent">-10%</div>
        <h1 class="coin-price"><%= coin.price.round(2) %>$</h1>
      </div>
    </a>
  <% end %>

<img src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index" width="300" style="display: flex; margin: auto; border: 1px solid darkgrey; margin-top: 40px "/>
