<% @title = "Market defi - MyCryptoWallet" %>

<div class="loader3">
    <span class="lettre">M</span>
    <span class="lettre">C</span>
    <span class="lettre">W</span>
</div>

<div class="container2">
  <img src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index" width="300" style="display: flex; margin: auto; border: 1px solid darkgrey; margin-top: 40px "/>
  <% i = 0 %>
  <h1 class="search-over">Search over 1800 coins</h1>
    <%= simple_form_for market_index_path, html: { class: "form-search"} do |f| %>
      <%= f.input :coins, placeholder: 'ex: BTC ETH ADA...'%>
      <%= f.button :submit, 'Search', class: "btn btn-primary" %>
    <% end %>
     <div class="container-next-page2">
      <div>
        <%= link_to "Market", market_index_path, class: "markets"  %>
        <%= link_to "DeFi", defi_path, class: "markets" %>
      </div>
    <div></div>
  </div>
  <div class="container-bar-info">
    <div class="container-name-mc">
      <p>Name</p>
      <div class="space"></div>
      <p>Marketcap</p>
    </div>
    <p class="max-supply">Max supply</p>
    <p class="change-info">Change %</p>
    <p class="volume24h">Volume 24h</p>
    <p>Value</p>
  </div>
       <% @coins.each do |coin| %>
          <%= link_to coin_index_path(coin.title), action: 'go' do %>
          <div class="item<%= i %>" data-coins="<%= coin.title %>">
            <div class="text-logo">
              <%= image_tag(coin.avatar.to_s) %>
              <div class="title-marketcap">
                <h1 class="title-coin"><%= coin.title %></h1>
                <h1 class="marketcap<%= i %>"></h1>
              </div>
            </div>
            <p class="max-supply-info<%= i %>"></p>
              <div class="change<%= i %>">

            </div>
            <p class="info-market<%= i %>"></p>
            <h1 class="coin-price<%= i %>"></h1>
          </div>
        <% end %>
        <% i += 1 %>
      <% end %>
    <div class="container-next-page">
      <%= link_to "Market", market_index_path ,class: "defi"%>
      <div></div>
    </div>
</div>
