<div class="container2">
  <img src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index" width="300" style="display: flex; margin: auto; border: 1px solid darkgrey; margin-top: 40px "/>
  <% i = 0 %>
  <div class="container-next-page">
    <%= link_to "Previous Page", page3_path ,class: "prec-page"%>
    <%= link_to "Next Page", page5_path ,class: "next-page2"%>
  </div>
  <%= simple_form_for market_index_path, html: { class: "form-search"} do |f| %>
      <%= f.input :coins, placeholder: 'ex: BTC, ETH, ADA,...'%>
      <%= f.button :submit, 'Search', class: "btn btn-primary" %>
    <% end %>
  <div class="container-bar-info">
    <div class="container-name-mc">
      <p>Name</p>
      <div class="space"></div>
      <p>Marketcap</p>
    </div>
    <p class="change-info">Change %</p>
    <p>Value</p>
  </div>
       <% @coins.each do |coin| %>
        <% if coin.price != 0 %>
          <%= link_to coin_index_path(coin.title), action: 'go' do %>
          <div class="item">
            <div class="text-logo">
              <%= image_tag(coin.avatar.to_s) %>
              <div class="title-marketcap">
                <h1 class="title-coin"><%= coin.title %></h1>
                <h1 class="marketcap"><%= number_with_delimiter(coin.marketcap, delimiter: ',') %></h1>
              </div>
            </div>
            <% if coin.change != nil %>
            <% if coin.change.round(2) > 0 %>
                <div class="percent-green"><%= coin.change.round(2) %>%</div>
              <% else %>
                <div class="percent-red"><%= coin.change.round(2) %>%</div>
              <% end %>
            <% end %>
            <h1 class="coin-price"><%= coin.price.round(2) %>$</h1>
          </div>
        <% end %>
        <% end %>
        <% i += 1 %>
      <% end %>
    <div class="container-next-page">
      <%= link_to "Previous Page", page3_path ,class: "prec-page"%>
      <%= link_to "Next Page", page5_path ,class: "next-page2"%>
    </div>
</div>
