<% @apis.each do |api| %>
  <div class="item">
    <a href="api/<%= api.id %>" class="link-wallet">
      <p>API <%= api.exchange %></p>
      <p><%= api.key.reverse.gsub(/.{59}/, '********').reverse %></p>
       <%= link_to edit_api_path(api), action: 'go' do %>
        <i class="far fa-edit"></i>
       <% end %>
       <%= link_to(api_path(api), method: :delete, data: { confirm: "Are you sure?" }) do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
      </div>
    </a>
<% end %>
<%= link_to 'NEW API', new_api_path, class: 'btn btn-primary ml-3 mt-3' %>
