<% @title = "New API - MyCryptoWallet" %>


<div class="container_form">
  <div class="container_input">
    <%= simple_form_for @api, url: api_index_path do |f| %>
      <%= f.input :key, as: :string %>
      <%= f.input :secret_key, as: :string %>
      <%= f.input :exchange, collection: ['binance'] %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
