<% @title = "API - MyCryptoWallet" %>


<div class="loader">
    <span class="lettre">M</span>
    <span class="lettre">C</span>
    <span class="lettre">W</span>
</div>
<figure class="highcharts-figure2">
</figure>

  <div class="main-portfolio">
    <h1 class="total-value2"></h1>
    <div>
      <%= link_to '+', new_api_positions_api_path(@api, card: 0), class: 'small-darkblue'%>
      <div class="recap"><div class="gain2"></div><div class="loss2"></div><p class="period">24H</p></div>
    </div>
  </div>
<div class="cors">
  <a href="https://chrome.google.com/webstore/detail/allow-cors-access-control/lhobafahddgcelffkeicbaginigeejlf" class="chrome-cors">Allow Cors on Chrome.</a>
  <br><br>
  <p class="cors-safari">To disable the same-origin policy <strong class="safari">on Safari</strong>, you only need to enable the developer menu, and select "Disable Cross-Origin Restrictions" from the develop menu.</p>
</div>
<div class="container5" data-key="<%= @api.key %>" data-secret_key="<%= @api.secret_key %>" data-exchange="<%= @api.exchange %>" data-hide="<%= @hide.hide %>" data-coins="<%= @coins_avatar.to_json %>"></div>
