<div id="root">
  <div id="topnav" class="topnav">
    <a id="home_link" class="topnav_link" href="/"><h1 class="title">MCW</h1></a>
    <div class="session-container">
      <% if user_signed_in? %>
        <%= link_to "PORTFOLIOS", portfolios_path, class: "portfolio-userbar" %>
        <%= link_to "NEWS", infos_path, class: "news-userbar" %>
        <a class="session-text" href="/rooms">CHATS</a>
        <%= link_to 'Log-out', destroy_user_session_path, :method => :delete, class: 'session-text'%>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: 'btn-login-userbar mb-3 mr-2' %>
      <% end %>
    </div>
    <% if user_signed_in? %>
    <a id="topnav_hamburger_icon">
        <!-- Some spans to act as a hamburger -->
        <span></span>
        <span></span>
        <span></span>
      </a>

      <!-- Responsive Menu -->
      <nav role="navigation" id="topnav_responsive_menu">
        <ul>
          <li><%= link_to 'HOME', root_path, class: 'text-navbar', data: {turbolinks: "false"}%></li>
          <% if Portfolio.where(user: current_user).first %>
            <li><%= link_to 'CARDS', portfolio_cards_path(Portfolio.where(user: current_user).first), class: 'text-navbar' %></li>
          <% end %>
          <%# if Api.all.first %>
            <!-- <li><%#= link_to 'CARDS API', api_cards_api_index_path(Api.all.first), class: 'text-navbar'%></li> -->
          <%# end %>
          <li><%= link_to 'PORTFOLIOS', portfolios_path, class: 'text-navbar'%></li>
          <% if @apis%>
              <li><%= link_to 'API', api_index_path, class: 'text-navbar' %></li>
          <% end %>
          <% if Portfolio.where(user: current_user).first%>
            <li><%= link_to 'NEW API', new_api_path, class: 'text-navbar' %></li>
          <% end %>
          <li><%= link_to 'MARKET', market_index_path, class: 'text-navbar'%></li>
          <li><%= link_to 'NEWS', infos_path, class: 'text-navbar' %></li>
          <li><%= link_to 'MY PROFIL', edit_user_registration_path, class: 'text-navbar' %></li>
          <li><%= link_to 'FALLOWED', fallowed_index_path, class: 'text-navbar' %></li>
          <li><%= link_to 'Hide/show BALANCE', new_hide_path, class: 'text-navbar' %></li>
        </ul>
      </nav>
      <% end %>
    </div>
  </div>
