<figure class="highcharts-figure">
    <div id="container" data-positions="<%= @positions.to_json %>" data-coins="<%= @coins.to_json %>" data-title="<%= @portfolio.title.to_json %>">
    </div>
</figure>
<div class="main-portfolio">
      <h1 class="total-value">
      <% if @total_value >= 1000000 %>
                <% million  = @total_value.to_i %>
                <% million = million.to_s.reverse.gsub(/\A....../, 'M').reverse %>
                <%= million %>$
      <% elsif @total_value >= 100000 %>
          <%= @total_value.round(0) %>$
      <% elsif @total_value < 100000 && @total_value > 0%>
        <%= @total_value.round(2) %>$
      <% else %>
        0$
      <% end %>
    </h1>
    <div>
      <%= link_to '+', new_portfolio_position_path(@portfolio, card: 1), class: 'small-darkblue'%>
      <div class="recap"><p class="gain"><%= @moyenne_change.round(2) %>%</p><p class="period">24H</p></div>
    </div>
  </div>
<% i = 0 %>
<% @coins.each do |coin| %>
    <% if coin.quantity > 0 %>
      <div class="card">
    <div class="card__inner">
      <div class="card__face card__face--front">
        <div class="container-card-coin">
          <%= image_tag(coin.background, class: 'img-top') %>
          <%= image_tag(coin.avatar, class: 'logo-coin') %>
          <div class="card-coin-title"><%= coin.title %></div>
          <div class="description">
            <div class="total-card">Total : <%= coin.quantity.round(2) %></div>
            <div class="value-card">Value : <%= (coin.quantity * coin.price).round(2) %>$</div>
            <% if coin.change < 0 %>
              <div class="debit-card">Loss : <%= coin.change.round(2) %>%</div>
            <% else %>
              <div class="gain-card">Gain : <%= coin.change.round(2) %>%</div>
            <% end %>
            <div class="last-price-card">Current price : <%= coin.price.round(2) %>$</div>
            <div class="variation-card">Variation 24h : <%= coin.change %>%</div>
          </div>
        </div>
      </div>
      <div class="card__face card__face--back">
        <div class="card__content">
          <div class="tradingview-widget-container">
            <div id="tradingview<%= i += 1 %>" data-coin="<%= coin.title.to_json %>"></div>
            <div class="tradingview-widget-copyright"></a><span>Flip</span></div>

          </div>
        </div>
        </div>
      </div>
    </div>
    <% end %>
<% end %>
