<div class="main-portfolio">
    <a href="#"><h1 class="total-value"><%= @total %>$</h1></a>
    <div>
      <%= link_to '+', new_portfolio_position_path(@portfolio, :card => 1), class: 'small-darkblue'%>
      <div class="recap"><p class="gain">10%</p><p class="period">24H</p></div>
    </div>
  </div>

<% @coins.each do |coin| %>
    <% total_quantity = 0 %>
    <% if coin.quantity > 0 %>
      <div class="container-card">
        <div class="cards">
          <div class="container-card-coin">
            <div class="img-top"><%= image_tag(coin.background) %></div>
            <div class="logo-coin"><%= image_tag(coin.avatar) %></div>
            <div class="card-coin-title"><%= coin.title %></div>
            <div class="description">
                <% total_quantity += coin.quantity%>
              <div class="total-card">Total : <%= total_quantity.round(4) %></div>
              <div class="gain-card">Gain : + 134 $</div>
              <div class="debit-card">Loss : - 0</div>
              <div class="last-price-card">Current price : <%= coin.price %>$</div>
              <div class="variation-card">Variation 24h : - 2.24 %</div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
<% end %>
