<% @title = "Cards - MyCryptoWallet" %>


<figure class="highcharts-figure">
    <div id="container" data-positions="<%= @positions.to_json %>" data-coins="<%= @coins.to_json %>" data-title="<%= @portfolio.title.to_json %>">
    </div>
</figure>
<div class="main-portfolio">
      <h1 class="total-value">
        <% if @hide %>
        <% if @hide.hide == false %>
          <% if @total_value >= 1000000 %>
                    <% million  = @total_value.to_i %>
                    <% million = million.to_s.reverse.gsub(/\A....../, 'M').reverse %>
                    <%= million %>$
          <% elsif @total_value >= 100000 %>
              <%= @total_value.round(0) %>$
          <% elsif @total_value < 100000 && @total_value > 0%>
            <%= @total_value.round(2) %>$
          <% else %>
            0$
          <% end %>
        <% else %>
          *********
        <% end %>
        <% else %>
          <% if @total_value >= 1000000 %>
                    <% million  = @total_value.to_i %>
                    <% million = million.to_s.reverse.gsub(/\A....../, 'M').reverse %>
                    <%= million %>$
          <% elsif @total_value >= 100000 %>
              <%= @total_value.round(0) %>$
          <% elsif @total_value < 100000 && @total_value > 0%>
            <%= @total_value.round(2) %>$
          <% else %>
            0$
          <% end %>
        <% end %>
    </h1>
    <div>
      <%= link_to '+', new_portfolio_position_path(@portfolio, card: 1, api:0), class: 'small-darkblue'%>
      <div class="recap"><p class="gain"><%= @moyenne_change.round(2) %>%</p><p class="period">24H</p></div>
    </div>
  </div>
  <h1 class="info-flip">Click to flip the card</h1>
<% i = 0 %>
<div class="container-cards">
  <div class="row">

<% @coins.each do |coin| %>
  <% if coin.quantity < 0 %>
    <% coin.quantity = 0 %>
    <% end %>
    <% if coin.quantity > 0 %>
    <div class="col-md-6 col-lg-4 ">
      <div class="card">
    <div class="card__inner">
      <div class="card__face card__face--front">
        <div class="container-card-coin">

          <div class="img-top" style="background-image: url('<%= coin.background %>'); background-position: center center; background-size: cover;"></div>

          <%= image_tag(coin.avatar, class: 'logo-coin') %>
          <div class="card-coin-title"><%= coin.title %></div>
          <div class="description">
            <div class="total-card">Total : <%= coin.quantity.round(2) %></div>
            <div class="value-card">Value : <%= (coin.quantity * coin.price).round(2) %>$</div>
            <% sum = 0 %>
            <% j = 0 %>
            <% @positions.each do |position| %>
              <% if position.coin == coin && position.price_entry != nil && position.quantity > 0 %>
                <% sum += position.price_entry %>
                <% j += 1 %>
                <% end %>
            <% end %>
            <% if j != 0 %>
              <% result = (coin.price) - (sum / j) %>
              <% if result <= 0 %>
                <div class="debit-card">Loss : <%= result.round(2) %>$</div>
              <% else %>
                <div class="gain-card">Gain : <%= result.round(2) %>$</div>
              <% end %>
            <% end %>
            <div class="last-price-card">Current price : <%= coin.price.round(2) %>$</div>
            <% if coin.change <= 0 %>
              <div class="variation-card-red">Variation 24h : <%= coin.change %>%</div>
            <% else %>
              <div class="variation-card-green">Variation 24h : <%= coin.change %>%</div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card__face card__face--back">
        <div class="card__content">
          <div class="tradingview-widget-container">
            <div id="tradingview<%= i += 1 %>" data-coin="<%= coin.title.to_json %>"></div>
            <div class="tradingview-widget-copyright"></a><span class="flip-card">Flip</span></div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
    <% end %>
<% end %>
</div>
  <div>
</div>
