<figure class="highcharts-figure">
    <div id="container" data-positions="<%= @positions.to_json %>" data-coins="<%= @coins.to_json %>" data-title="<%= @portfolio.title.to_json %>">
    </div>
</figure>
<div class="main-portfolio">
    <a href="#"><h1 class="total-value"><%= @total > 1000000 ? @total.round(0) : @total.round(2) %>$</h1></a>
    <div>
      <%= link_to '+', new_portfolio_position_path(@portfolio, :card => 1), class: 'small-darkblue'%>
      <div class="recap"><p class="gain">10%</p><p class="period">24H</p></div>
    </div>
  </div>
<% i = 0 %>
<% @coins.each do |coin| %>
    <% total_quantity = 0 %>
    <% if coin.quantity > 0 %>
      <div class="card">
    <div class="card__inner">
      <div class="card__face card__face--front">
        <div class="container-card-coin">
          <%= image_tag(coin.background, class: 'img-top') %>
          <%= image_tag(coin.avatar, class: 'logo-coin') %>
          <div class="card-coin-title"><%= coin.title %></div>
          <div class="description">
            <div class="total-card">Total : <%= coin.quantity.round(4) %></div>
            <div class="value-card">Value : <%= coin.quantity.round(4) * coin.price %>$</div>
            <div class="debit-card">Loss : -10%</div>
            <div class="last-price-card">Prix actuel : <%= coin.price %>$</div>
            <div class="variation-card">Variation 24h : - 2.24 %</div>
          </div>
        </div>
      </div>
      <div class="card__face card__face--back">
        <div class="card__content">
          <div class="tradingview-widget-container">
            <div id="tradingview<%= i += 1 %>" data-coin="<%= coin.title.to_json %>"></div>
            <div class="tradingview-widget-copyright"></a><span>Flip</span></div>

          </div>
        </div>
        </div>
      </div>
    </div>
    <% end %>
<% end %>
