<div class="container-news" >
  <div class="p-3">
    <h1 class="h1 text-center" id="title-info">Last market news...</h1>
  </div>
  <div class="p-4">
     <div class="container-info-card">
    <% @data["data"].each do |news| %>
      <div class="col-10" style="border-radius: 5px 5px 0px 0px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px">
        <% if news["thumbnail"] != "" %>
          <img src="<%= news["thumbnail"] %>" class="card-img-top" alt="..." height="200px" style="border-radius: 5px 5px 0px 0px; border: 1px solid #A9A9A9">
        <% end %>
        <div class="card-body" height="200px" style="border-radius: 0px 0px 5px 5px; border: 1px solid #A9A9A9">
          <h5 class="card-title"> <%= news["symbol"] %> - <%= news["name"] %></h5>
          <p class="card-text"><%= news["title"] %></p>
          <p class="card-text"><small class="text-muted">Published by <%= news["publisher"] %> </small></p>
          <a href='<%= news["url"] %>'><button class="btn btn-primary sticky-bottom " style="border-radius: 3px">More</button></a>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>



