<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <h1>Last market news...</h1>
    </div>
    <div class="col-12 col-sm-4">
      <% @data["data"].each do |news| %>
        <div class="card mb-3">
          <img src="<%= news["thumbnail"] %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> <%= news["symbol"] %> - <%= news["name"] %></h5>
            <p class="card-text"><%= news["title"] %></p>
            <p class="card-text"><small class="text-muted">Published by <%= news["publisher"] %> </small></p>
          </div>
        </div>
      <% end  %>
    </div>
  </div>
</div>



